<h1>New Article</h1>

<!--This renders the _form.html.erb file. Similar to how php ports in the entire file -->
<%= render 'form' %>
<%= link_to 'Back', articles_path %><br>
<%= link_to 'Home', controller: 'welcome' %>