<div id="page1">
    <div class="navbar">
        <a href="/welcome" class="general">Home</a>
        <a class="general">About</a>
        <a class="user">Login</a>
        <a class="user">Register</a>
    </div>
    <header>
        <h1 id="title">HashScrape</h1>
    </header>
    <body>
        <%= link_to 'Get Started', {controller: 'tweets', action: 'index'}, class: "start-btn" %><br>
    </body>
</div>